*
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
    min-height: 100vh;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(45deg, #2196F3, #3F51B5);
}
::-webkit-scrollbar {
  width:5px;
}
::-webkit-scrollbar-track {
  background: #11112b;
}
::-webkit-scrollbar-thumb {
  background: #adaaaa;
  border-radius: 1rem;
}
.outerdiv
{
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.maindiv
{
	padding: 1rem;
	background: white;
    display: flex;
    margin: 2rem 1rem 4rem;
    border-radius: 1.4rem;
    box-shadow: 0 10px 30px #0c0c0c63;
}
.inputbox,.outputbox
{
	background: white;
	width: 25rem;
    min-height: 38rem;
}
.inputbox
{
	padding: 1rem;
}
.inputbox h2
{
	margin: 0.5rem 0 1rem;
    text-align: left;
    color: #9C27B0;
    font-size: 1.5rem;
    font-weight: 600;
}
#tagline
{
	font-size: 1.2rem;
    font-weight: 600;
    color: #F44336;
    margin: 0.2rem 0 1.5rem;
}
.inputbox p
{
	margin: 0;
    font-size: 0.9rem;
    color: #9E9E9E;
    font-weight: 400;
    line-height: 1.5;
}
.choicebox
{
	margin: 2rem 0;
}
.eachlanginput
{
	margin: 1.5rem 0;
}
.html
{
	color: #E91E63;
}
.css
{
	color: #4CAF50;
}
.js
{
	color: #FF5722;
}
.eachchoice
{
	margin: 0.5rem 1rem;
    display: flex;
    align-items: center;
}
.eachchoice input
{
	width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}
.eachchoice input[type=text]
{
	width: 13rem;
    font-size: 1.2rem;
    color: #2b2d2d;
    font-weight: 500;
    margin: 0 1rem;
    cursor: auto;
    border-radius: 0.4rem;
    border: 1px solid #9E9E9E;
    outline: 0;
    padding: 0.5rem;
    height: 2rem;
}
.eachchoice span
{
	font-size: 1rem;
    padding-left: 1rem;
    font-weight: 500;
    color: #3F51B5;
}
.langbox
{
	padding: 1rem;
}
.topline
{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.topline h3,.eachlanginput h3
{
	margin: 0.5rem 0;
	font-size: 1.3rem;
}
.topline button
{
	padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    border: 1px solid grey;
    outline: 0;
    border-radius: 0.5rem;
    color: #212529;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: 0.4s;
}
.topline button:hover
{
	transform: scale(1.05);
}
.outputcode
{
	resize: none;
	width: 100%;
    height: 15rem;
	font-family: 'Source Code Pro', monospace;
	background: #25254c;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.7rem;
    overflow-y: overlay;
    border: 0;
    outline: 0;

}
.footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #000000db;
    padding: 0.5rem;
	color: white;
	text-align: center;
}
.footer p
{
	font-size: 1.1rem;
	cursor: pointer;
	font-weight: 300;
	margin: 0;
}
.links
{
	position: fixed;
	bottom: 5rem;
	right: 2rem;
}
.links ul
{
	list-style-type: none;
}
.links ul li a i
{
	font-size: 2rem;
	color: #efefef;
    opacity: 0.8;
	margin: 0.5rem 0;
	transition: 0.3s;
}
.links ul li a i:hover
{
	transform: scale(1.3);
	color: white;
    opacity: 1;
}
#copypastbox{
	position: absolute;
    left: -50rem;
}
@media only screen and (max-width: 500px){
	.footer p
	{
		font-size: 0.9rem;
	}
	.links
	{
		display: none;
	}
	.maindiv
	{
		flex-direction: column;
	}
	.inputbox, .outputbox {
		width: 20rem;
	}
	.eachchoice input[type=text]{
		width: 14rem;
    	margin: 0 0.5rem;
	}
	.langbox {
    	padding: 0;
	}
	.inputbox {
    	padding: 0;
	}	
	.eachchoice {
    	margin: 0.5rem 0rem;
	}
}
